* {
    font-family: sans-serif;
}
#textostoron{
    text-align: left;
}
#access-denied, #Standard, #auths{
    text-align: center;
}
#player {
    visibility: hidden;
}

#dabod{
    position: center;
    width: 600px;
    margin: auto;
    height: 825px;
    background: #f3f3f3;
    border: 25px solid #f3f3f3;
    box-shadow: 0 0 40px rgba(0,0,0,0.07);
    overflow: hidden;
    border-radius: 5px;
}